@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    width: 360px;
    height: 600px;
    margin: auto;
}

.overflow-content {
    height: 390px;
}

.error {
    @apply border-red-500 !important
}

.valid {
    @apply border-mantis !important;
}

.enabled {
    @apply bg-mantis !important;
}